<div class="jumbotron text-center">
  <h1> Pad DIY</h1>

  <p>{{ tagline }}</p>

<div id="pad" class="col-md-6">
  <h3>Drum Pad</h3>
  <button class="padItem btn btn-primary col-md-4" ng-repeat="sample in samples"> {{ sample.name }} </button>
</div>

<div id="sample_upload" class="col-md-6">
  <h3>Upload sample</h3>
  <button ng-click="requestMic()" class="btn btn-primary"> Request Mic</button>
</div>

<div id="synth" class="col-md-12">
  <br />
  <button id="start-sound" class="btn btn-primary" ng-click="startScale()">Start Sound</button>
  <button id="play1" class="btn btn-success" ng-click="playCurrentFreq()">Play Current Frequency</button>
   <form>
  <label for="input1">Oscillator shape: </label>
  <input name="input1" id="input1" type="text" value={{oscType}}>

  <label for="input1">Starting frequency: </label>
  <input name="input1" id="input1" type="number" value={{startingFreq}}>

  <label for="input1">Frequency Spacing: </label>
  <input name="input1" id="input1" type="number" value={{freqSpacing}}>

  <label for="input1">Scale length: </label>
  <input name="input1" id="input1" type="number" value={{scaleLength}}>

  <label for="input1">Note Length: </label>
  <input name="input1" id="input1" type="number" value={{noteLength}}>
    <!--<button id="test-keycode"></button>-->
  </form>
  <br />
<button id="stop-sound" class="btn btn-primary" ng-click="stopScale()">Stop Wave</button>
</div>

</div>
