<div class="jumbotron text-center">
  <h1> Pad DIY</h1>

  <p>{{ tagline }}</p>

<div id="pad" class="col-md-6">
  <h3>Drum Pad</h3>
  <button class="padItem btn btn-primary col-md-4" ng-repeat="sample in samples"> {{ sample.name }} </button>
</div>

<div id="sample_upload" class="col-md-6">
  <h3>Upload sample</h3>
  <button ng-click="requestMic()" class="btn btn-primary"> Request Mic</button>
</div>

<div id="synth" class="col-md-12">
  <button id="start-sound" class="btn btn-primary" ng-click="startSound()">Start Sound</button>
  <button id="C5" class="btn btn-primary" ng-click="playC5()">C5</button>
    <button id="D5" class="btn btn-primary" ng-click="playD5()">D5</button>
    <!--<button id="test-keycode"></button>-->
<button id="stop-sound" class="btn btn-primary" ng-click="stopSound()">Stop Wave</button>
</div>

</div>
